/* styles.css */
body {
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: flex-start; /* Align content to the left */
    align-items: flex-start;     /* Align content to the top */
    height: 100vh;
    margin: 0;
    color: #fff;
    padding: 20px; /* Add padding to create some space from the edges */
}

.container {
    background: rgba(240, 229, 229, 0.7);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    margin-top: 150px; /* Increase margin to move the container further down */
    margin-left: 50px; /* Add margin to move the container to the right */
}

.title-image {
    display: block;
    margin: 0 auto 20px auto; /* Center the image and add some space below it */
    width: 100px; /* Adjust the width as needed */
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 25%;
    padding: 10px;
    background: #f3ca9c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #f39f9f;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #eee;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

.delete-btn, .edit-btn {
    background: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover, .edit-btn:hover {
    background: #c9302c;
}

.edit-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.checkbox {
    margin-right: 10px;
}

.task-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.task-buttons {
    display: flex;
    gap: 5px;
}
